{% load static %}
<article class="card mb-3 w-100">
    <div class="row g-0">
        <div class="col-3 p-2">
            <div class="border w-100 mb-3" style="height: 100px">
                <img src="{% static '/img/avatar.png' %}" height="100" width="100" class="img-fluid rounded mx-auto d-block" alt="avatar"/>
            </div>
            <div class="input-group flex-nowrap">
                <label>
                    <input type="number" value="{{ question.like_count }}" class="form-control" />
                </label>
            </div>
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'question' question.id %}">{{ question.title }}</a>
                </h5>
                <p class="card-text">
                    {{ question.text }}
                </p>
                <div class="row">
                    <a class="col-4" href="{% url 'question' question.id %}">answer {{ question.answer_count }}</a>
                    <div class="col-8">
                        <span>Tags:</span>
                        {% for tag in question.tags.all %}
                            <a href="{% url "tag" tag %}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>