{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="row mt-3">
    <h1>{{ member.name }} profile</h1>
    <!--Форма--> 
    <div class="col-8 mt-3">
        <form style="margin-bottom: 50px;">
            <fieldset disabled>
                <!--Login--> 
                <div class="row d-flex align-items-center">
                    <div class = "col-3">
                        <div>
                            <p class="text-start fs-5 m-0">NickName</p>
                        </div>
                    </div>
                    <div class = "col-9">
                        <label>
                            <input type = text class = "form-control w-100" value = "{{ member.name }}">
                        </label>
                    </div>
                </div>
                <div class="row mt-3 d-flex align-items-center">
                    <div class = "col-3">
                        <div>
                            <p class="text-start fs-5 m-0">Email</p>
                        </div>
                    </div>
                    <div class = "col-9">
                        <label>
                            <input type = text class = "form-control w-100" value = "{{ member.email }}">
                        </label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4">
                        <p class="text-start fs-5 m-0">Avatar</p>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-auto">
                                <img class="rounded-circle border" src="{% static '/img/avatar.png' %}" height="150" width="150" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    
    {% endblock content %}