{% extends "layouts/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
    <h1>Settings: {{ form.username.value }} </h1>
    <div class="col-8 mt-3">
        <form style="margin-bottom: 50px;" method="post" action="{% url "settings" %}" class="form"
              enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="row">
                <div class="col">
                    <hr>
                    <button type="submit" class="btn btn-outline-primary mt-2 w-25">Save</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}